@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  @apply bg-pagebg max-w-[430px] mx-auto;
  background-image: url('./assets/images/bg.png');
  background-position: 50% 5%;
  background-size:auto;
  box-sizing: content-box;
}

#root {
  @apply text-[12px]
}
